body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #b1b1ff;
}

.site-header {
	background-color: #000089e5;
	-webkit-backdrop-filter: saturate(180%) blur(50px);
	backdrop-filter: saturate(50%) blur(20px);
	border-bottom: solid 1px #ebebff;
}

.site-header a {
	color: #999;
	transition: ease-in-out color 0.15s;
}
.site-header a:hover {
	color: #fff;
	text-decoration: none;
}

.icon {
	font-size: 1.2rem;
	text-align: center;
	color: #fff;
}

.pin-icon {
	width: 1.6rem;
	height: 1.6rem;
	background: #e78011;
	border-radius: 70% 50% 70% 0;
	animation: animate 0.5s both;
	border: 2px ridge #ebebff;
}
.pin-icon i {
	position: absolute;
	top: 0.27rem;
	left: 0.45rem;
	font-size: 0.7rem;
	color: #fff;
	transform: rotate(45deg);
}

/* About section */

.pinl {
	top: 66vh;
}

.pin-about {
	height: 100vh;
	width: 100vw;
	background: url('../images/7994432.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: luminosity;
	background-color: rgba(224, 243, 243, 0.18);
}

.text-background {
	top: 50%;
	padding: 1rem;
	background-color: whitesmoke;
	height: auto;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 2px solid #ebebff;
}

h1.about-title {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 2rem;
	font-weight: 800;
}

p.lead-about-text {
	font-weight: 500;
	padding-top: 1rem;
	color: #e78011;
	text-align: justify;
	margin-bottom: 0;
}

/* Map section */

#map {
	height: 100%;
}

/* Contact us section */

.contact-us-row {
	background-color: #ebebff;
	height: auto;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 1rem 0;
}

p.lead-contact-us-text {
	font-weight: 500;
	padding: 1rem 0;
	text-align: justify;
}

.email-container {
	height: 100%;
}

.btn-contact-submit {
	background-color: #000089;
	border-color: #000014;
}

.btn-contact-submit:hover {
	background-color: #b1b1ff;
	border-color: #000089;
}

/* Footer section */

.footer {
	background-color: #fff;
	height: auto;
	padding: 0.5rem 0rem;
}

.copyright {
	font-size: 0.7rem;
	margin: 0.2rem;
	display: flex;
	justify-content: center;
}

.social-icons-list-items {
	display: inline-block;
	margin-right: 5px;
}

ul.social-icons {
	margin-bottom: 8px;
}

.social-icons li a i {
	margin-bottom: 0;
	width: 32px;
	height: 32px;
	padding: 12px 0;
	border-radius: 25%;
	font-size: 13px;
	line-height: 7px;
	text-align: center;
	color: #fff;
	background: #000089;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-icons li a i:hover {
	color: #000089;
	background-color: #b1b1ff;
	border-style: 2px solid blue;
}

.social-icons {
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}

h5.footer-contact-title {
	font-weight: 300;
}

/* Keyframes */

@keyframes animate {
	0% {
		opacity: 0;
		transform: translateY(-2000px) rotate(0);
		filter: alpha(opacity=0);
	}
	60% {
		opacity: 1;
		transform: translateY(30px) rotate(-45deg);
		filter: none;
	}
	80% {
		transform: translateY(-10px) rotate(-45deg);
	}
	100% {
		transform: translateY(0px) rotate(-45deg);
	}
}
