body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #fff;
}

.site-header {
	background-color: #000089e5;
	/*-webkit-backdrop-filter: saturate(180%) blur(50px);
	backdrop-filter: saturate(50%) blur(20px);*/
}

.site-header a {
	color: #999;
	transition: ease-in-out color 0.15s;
}
.site-header a:hover {
	color: #fff;
	text-decoration: none;
}

.navbar-brand {
	width: 20px;
	border-style: dashed;
}

.site-header.navbar-brand a i {
	margin-bottom: 0;
	width: 32px;
	height: 32px;
	padding: 12px 0;
	border-radius: 25%;
	font-size: 13px;
	line-height: 7px;
	text-align: center;
	color: #fff;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
	background: url(/assets/images/forced-perspective-photography-of-cars-running-on-road-below-799443-cropped.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 100vh;
	padding-top: 6rem;
	display: flex;
	align-items: center;
}

.about-row {
	display: flex;
	justify-content: center;
}

.text-background {
	padding: 1rem;
	background-color: rgba(250, 235, 215, 0.66);
	height: auto;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

h1.about-title {
	font-size: 2rem;
	font-weight: 800;
	padding-top: 1rem;
}

span.about-title {
	font-size: 3rem;
	font-weight: bolder;
	letter-spacing: 0.3rem;
}

span.space {
	letter-spacing: -4px;
	margin: 0px;
	padding: 0px;
}

.lead {
	font-weight: 500;
	padding: 1rem 0;
}

/* Map section */

.map-row {
	background-color: #fff;
	height: auto;
	display: flex;
	justify-content: center;
	align-content: center;
}

.tt {
	padding: 0;
}

.map-container {
	margin-top: 2.5rem;
}

#map {
	min-height: 660px;
}

/* Contact us section */

.contact-us-container {
	margin-top: 2.5rem;
}

.contact-us-row {
	background-color: #ebebff;
	height: auto;
	display: flex;
	justify-content: center;
	align-content: center;
}

.email-container {
	height: 100%;
}

.btn-contact-submit {
	background-color: #000089;
	border-color: #000014;
}

.btn-contact-submit:hover {
	background-color: #b1b1ff;
	border-color: #000089;
}

/* Footer section */

.footer {
	background-color: #fff;
	height: 20px;
}

.copyright {
	font-size: 0.7rem;
	margin: 0.2rem;
	display: flex;
	justify-content: center;
}

.social-icons-list-items {
	display: inline-block;
	margin-right: 5px;
}

ul.social-icons {
	margin-bottom: 8px;
}

.social-icons li a i {
	margin-bottom: 0;
	width: 32px;
	height: 32px;
	padding: 12px 0;
	border-radius: 25%;
	font-size: 13px;
	line-height: 7px;
	text-align: center;
	color: #fff;
	background: #000089;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-icons li a i:hover {
	color: #000089;
	background-color: #b1b1ff;
	border-style: 2px solid blue;
}

.social-icons {
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}

h5.footer-contact-title {
	font-weight: 300;
}

/*.follow-us-container {
	display: flex;
	justify-content: flex-start;
}

@media screen and (min-width: 300px) {
	.follow-us-container {
		display: flex;
		justify-content: flex-end;
	}
}*/
